### Moises Quiroz Diaz
##### Generación de funciones

In [1]:
import numpy as np
import pandas as pd

Genere funciones para calcular la media y varianza de un vector. Debe cumplir con los siguientes requistos:

    Ambas funciones deben ingresar un argumento x .
    Las funciones deben contener docstrings con la documentación asociada a la variable.
    Deben retornar el resultado (tip: utilice return ).
    La función de la varianza debe llamar a la función de la media.
Utilice las funciones para reportar la información sobre goles_favor , goles_contra ,
puntos .

In [2]:
def media(x):
    """La variable es un vector y esta funcion retorna su media"""
    largo = len(x)
    s = 0
    for i in x:
        s+=i
    return s/largo
def varianza(x):
    """La variable es un vector y esta funcion retorna su varianza"""
    med = media(x)
    s = 0
    for i in x:
        s += (i-med)**2
    return s/(len(x))

In [3]:
df = pd.read_csv('worldcup2014.csv')
europe_df = df[df['continent'] == 'europe']
southamerica_df = df[df['continent'] == 'southamerica']
africa_df = df[df['continent'] == 'africa']
asia_df = df[df['continent'] == 'asia']
northamerica_df = df[df['continent'] == 'northamerica']
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [4]:
print('La media de goles_favor:',media(df['goles_favor']))
print('La media de goles_contra:',media(df['goles_contra']))
print('La media de puntos',media(df['puntos']))

La media de goles_favor: 4.25
La media de goles_contra: 4.25
La media de puntos 4.21875

In [5]:
print('La varianza de goles_favor:',varianza(df['goles_favor']))
print('La varianza de goles_favor:',varianza(df['goles_contra']))
print('La varianza de goles_favor:',varianza(df['puntos']))

La varianza de goles_favor: 5.1875
La varianza de goles_favor: 4.8125
La varianza de goles_favor: 8.0458984375

### Desafío 2:

    En base a la información disponible, genere una función con los argumentos group_by y var
    para ingresar una lista de submuestras y una variable a analizar, respectivamente.
    La función debe retornar un DataFrame .
    Implemente la función para extraer la información sobre la cantidad de goles a favor, en contra y
    la cantidad de puntos.
    Reporte en qué continente se encuentra la mayor cantidad de goles a favor, en contra y cantidad
    de puntos.

In [6]:
def desafio2(group_by,var):
    continent = []
    store_mean = []
    store_std = []
    cantidad = []
    for d in group_by:
        continent.append(d.iloc[0,1])
        store_mean.append(media(d[var]))
        store_std.append(varianza(d[var]))
        cantidad.append(np.sum(d[var]))
    tmp = pd.DataFrame({'continente': continent,'media '+var: store_mean,'std '+var: store_std,'cantidad '+var:cantidad})
    return tmp

In [7]:
lista_continentes=[southamerica_df,northamerica_df,africa_df,europe_df,asia_df]

In [8]:
desafio2(lista_continentes,'puntos')

     continente  media puntos  std puntos  cantidad puntos
0  southamerica      6.833333    3.138889               41
1  northamerica      4.500000    8.250000               18
2        africa      2.400000    2.640000               12
3        europe      4.692308    6.366864               61
4          asia      0.750000    0.187500                3

In [9]:
desafio2(lista_continentes,'goles_favor')

     continente  media goles_favor  std goles_favor  cantidad goles_favor
0  southamerica           5.666667         3.888889                    34
1  northamerica           3.250000         1.687500                    13
2        africa           3.600000         2.640000                    18
3        europe           4.769231         6.331361                    62
4          asia           2.250000         0.687500                     9

In [10]:
desafio2(lista_continentes,'goles_contra')

     continente  media goles_contra  std goles_contra  cantidad goles_contra
0  southamerica            2.833333          0.472222                     17
1  northamerica            3.500000          8.250000                     14
2        africa            5.600000          3.840000                     28
3        europe            4.000000          3.538462                     52
4          asia            6.250000          3.187500                     25

En ambos DataFrame fue europa el que tuvo mayor cantidad

### Desafio 3

    Genere una función generate_pet que devuelva de forma aleatoria un string 'perro' o
    'gato' . Ejecútela un par de veces.
    tip: Puede utilizar la función np.random.choice para retornar elementos al azar.
    Aplique la función generate_pet 20 veces mediante un loop y guarde los resultados en una
    lista.
    tip: Puede generar una lista vacía con [ ] y asignarla a un objeto. Puede añadir
    elementos a la lista con .append .
    ¿Cuál es la probabilidad de elegir un perro al azar? ¿Y un gato?
    Agrege np.random.seed(2) al inicio del chunk. ¿Qué hace éste método en la simulación?

In [11]:
np.random.seed(2)
def generate_pet():
    animales = ['perro','gato']
    return np.random.choice(animales)

In [12]:
animales = []
for i in range(20):
    animales.append(generate_pet())
prob_gato = animales.count('gato')/len(animales)
prog_perro = animales.count('perro')/len(animales)

print(' La probabilidad de gato es:',prob_gato,'\n','La probabilidad de perro es:',prog_perro)

 La probabilidad de gato es: 0.6
 La probabilidad de perro es: 0.4

Agregar 'np.random.seed(2)' hace que siempre se obtenga los mismos valores del random

### Desafio 4

    Genere un método llamado simulate_pets_prob que tome como argumento un número finito
    de simulaciones a generar.
    El método debe simular dos situaciones young_pet y old_pet , y contar la ocurrencia de los
    siguientes casos:
    1. De los dos animales simulados, contar las ocasiones donde por lo menos uno de los
    animales sea un perro.
    De los dos animales simulados, contar las ocasiones donde por lo menos uno sea un perro
    viejo.
    De los dos animales simulados, contar las ocasiones donde los dos sean perros
    El método debe tener una semilla pseudoaleatoria de 1.
    De los tres escenarios, ¿Cuál es el menos probable? ¿Cuál es el más probable?

In [13]:
def simulate_pets_prob(n):
    posibilidades = ['young_pet','old_pet']
    n_1 = 0 #por lo menos uno de los animales sea un perro.
    n_2 = 0 #por lo menos uno sea un perro viejo.
    n_3 = 0 #los dos sean perros
    for i in range(n):
        young_animal = [posibilidades[0],generate_pet()]
        old_animal = [posibilidades[1],generate_pet()]
        if 'perro' in young_animal or 'perro' in old_animal:
            n_1+=1 # Se cuentan las veces que al menos 1 es perro
            if 'perro' in old_animal:
                n_2 += 1 #por lo menos uno sea un perro viejo, debido a que si solo hay gatos no evaluara esta condicion
        if 'perro' in young_animal and 'perro' in old_animal:
            n_3 += 1 #los dos sean perros
    return n_1,n_2,n_3

In [14]:
simulaciones = [1,10,100,1000,10000]
resultuados = []
for i in simulaciones:
    resultuados_in = []
    for j in simulaciones:
        resultuados_in.append(simulate_pets_prob(i))
    resultuados.append(resultuados_in)
resultuados

[[(1, 1, 1), (0, 0, 0), (1, 1, 0), (1, 1, 1), (0, 0, 0)],
 [(8, 6, 3), (7, 3, 3), (8, 8, 5), (10, 6, 4), (8, 3, 2)],
 [(68, 43, 20), (77, 50, 24), (78, 54, 29), (73, 55, 27), (80, 61, 28)],
 [(750, 477, 218),
  (738, 488, 248),
  (737, 497, 260),
  (752, 523, 254),
  (746, 480, 251)],
 [(7498, 4946, 2427),
  (7602, 5035, 2548),
  (7548, 5033, 2517),
  (7482, 5009, 2530),
  (7488, 4962, 2434)]]

In [15]:
#Se añade la semilla para comparar
def simulate_pets_prob(n):
    np.random.seed(1)
    posibilidades = ['young_pet','old_pet']
    n_1 = 0 #por lo menos uno de los animales sea un perro.
    n_2 = 0 #por lo menos uno sea un perro viejo.
    n_3 = 0 #los dos sean perros
    for i in range(n):
        young_animal = [posibilidades[0],generate_pet()]
        old_animal = [posibilidades[1],generate_pet()]
        if 'perro' in young_animal or 'perro' in old_animal:
            n_1+=1 # Se cuentan las veces que al menos 1 es perro
            if 'perro' in old_animal:
                n_2 += 1 #por lo menos uno sea un perro viejo, debido a que si solo hay gatos no evaluara esta condicion
        if 'perro' in young_animal and 'perro' in old_animal:
            n_3 += 1 #los dos sean perros
    return n_1,n_2,n_3
simulaciones = [1,10,100,1000,10000]
resultuados = []
for i in simulaciones:
    resultuados_in = []
    for j in simulaciones:
        resultuados_in.append(simulate_pets_prob(i))
    resultuados.append(resultuados_in)
resultuados

[[(0, 0, 0), (0, 0, 0), (0, 0, 0), (0, 0, 0), (0, 0, 0)],
 [(7, 4, 2), (7, 4, 2), (7, 4, 2), (7, 4, 2), (7, 4, 2)],
 [(72, 51, 27), (72, 51, 27), (72, 51, 27), (72, 51, 27), (72, 51, 27)],
 [(746, 514, 279),
  (746, 514, 279),
  (746, 514, 279),
  (746, 514, 279),
  (746, 514, 279)],
 [(7514, 4994, 2536),
  (7514, 4994, 2536),
  (7514, 4994, 2536),
  (7514, 4994, 2536),
  (7514, 4994, 2536)]]

Como analisis con y sin la semilla el 1er caso es el mas probable, esto es deducible debido a que utiliza una condicion or simple, haciendo mas amplio el rango de opciones que cumplen con las condiciones